In [1]:
import pandas as pd

In [3]:
# 1. Leitura do dataset de e-commerce (E-Commerce Data)
df = pd.read_csv('../data/ecommerce-data.csv', encoding='latin1')  # Usando 'latin1' para evitar erro de encoding
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [5]:
# 2. Verificar dados faltantes
print("Dados faltantes por coluna:")
print(df.isnull().sum())

# 3. Remover linhas com CustomerID ou Description faltantes
df = df.dropna(subset=['CustomerID', 'Description'])

# 4. Remover duplicatas
df = df.drop_duplicates()

# 5. Filtrar valores inválidos quantidades/preços negativos
df = df[(df['Quantity'] > 0) & (df['UnitPrice'] > 0)]

# 6. Criar coluna 'TotalSales' (vendas totais por item)
df['TotalSales'] = df['Quantity'] * df['UnitPrice']

df.to_csv('../data/ecommerce_clean.csv', index=False)

Dados faltantes por coluna:
InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
TotalSales     0
dtype: int64